<header style="background-image: url('img/header-hero.jpg');">
    <div class="intro-content">
        <div class="brand-name">Digitalisez vos formations</div>
        <hr class="colored">
        <div class="brand-name-subtext">Plateformes de MOOC, COOC et SPOC à la demande ou sur mesure.</div>
    </div>
    <div class="scroll-down">
        <a class="btn page-scroll" href="#about"><i class="fa fa-angle-down fa-fw"></i></a>
    </div>
</header>