<section id="about">
	<div class="row">
	  <div class="text centered wow bounceInDown">
	    <h2 style="margin-top:20px;"class="text-center">Créer des cours en ligne n'a jamais été aussi facile.</h2>
	    <h4 style="margin-bottom:20px;"class="text-center subheader">Moocit rend la création de MOOC accessible à tous. À créer seul ou à plusieurs.</h4>
	  </div>
	</div>
	<div class="row" data-equalizer>
		<div class="large-3 medium-3 small-12 columns text-center" data-equalizer-watch >
			<div class="create wow fadeInRightBig" data-wow-delay="0.5s">
				<img src="http://placehold.it/200x200" >
				<h3>Créez</h3>
				<p>Nous pensons qu'il est possible de créer par vous mêmes des MOOCs exceptionnels. Une simple idée ou un projet collectif aboutit, donnez leur une chance et adoptez un MOOC.</p>
			</div>
		</div>
		<div class="large-3 medium-3 small-12 columns text-center" data-equalizer-watch>
			<div class="launch wow fadeInRightBig" data-wow-delay="1s"> 
				<img src="http://placehold.it/200x200">
				<h3>Lancer</h3>
				<p>Ouvrez votre cours aux inscriptions plusieurs semaines avant son début et recrutez vos participants. Il vous restera toujours un peu de temps pour finaliser le contenu et être prêt le jour J.</p> 
			</div>
		</div>
		<div class="large-3 medium-3 small-12 columns text-center" data-equalizer-watch>
			<div class="animate wow fadeInRightBig" data-wow-delay="1.5s">
				<img src="http://placehold.it/200x200">
				<h3>Animez</h3>
				<p>Utilisez nos tableaux de bord et exports de données pour suivre l'avancement de vos participants. Nos forums et newsletters vous permettent de rester en contact avec eux.</p>
			</div>
		</div>
		<div class="large-3 medium-3 small-12 columns text-center wow fadeInRightBig" data-equalizer-watch>
			<div class="evaluate wow fadeInRightBig" data-wow-delay="02s">
				<img src="http://placehold.it/200x200" >
				<h3>Evaluez</h3>
				<p>Nous pensons qu'il est possible de créer par vous mêmes des MOOCs exceptionnels. Une simple idée ou un projet collectif aboutit, donnez leur une chance et adoptez un MOOC.</p>
			</div>
		</div>
	</div>
</section>

<section id="slide-2">
<div class="bcg"
        data-700="background-color:rgb(255,255,255);"
        data-1000="background-color:rgb(65,36,65);"
        data-anchor-target="#slide-2"
    >
    <h2>yeeeeeeeeeeeah</h2>
</section>