    <!-- Core Scripts -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- Plugin Scripts -->
    <script src="js/plugins/jquery.easing.min.js"></script>
    <script src="js/plugins/classie.js"></script>
    <script src="js/plugins/cbpAnimatedHeader.js"></script>
    <script src="js/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="js/plugins/jquery.magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins/jquery.fs.wallpaper.js"></script>
    <script src="js/plugins/jquery.mixitup.js"></script>
    <script src="js/plugins/wow/wow.min.js"></script>
    <script src="js/contact_me.js"></script>
    <script src="js/plugins/jqBootstrapValidation.js"></script>

    <!-- Vitality Theme Scripts -->
    <script src="js/vitality.js"></script>