<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/animate.css" />
    <link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/font-awesome-4.2.0/css/font-awesome.min.css">
    <title>{{this.page.title}}</title>
    <meta name="description" content="{{this.page.description}}"/>
    <meta name="keywords" content="{{this.page.keywords}}"/>
    <meta property="st:section" content="Créez votre MOOC aujourd'hui sur notre plate-forme. MoocIT accompagne les entreprises, universités et associations dans la création et diffusion de cours en ligne ouverts à tous (MOOC)."/>
    <meta name="copyright" content="moocit">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    
    <style> [data-sr] { visibility: hidden; } </style>

    <!-- Retina.js - Load first for faster HQ mobile images. -->
    <script src="assets/js/plugins/retina/retina.min.js"></script>

    <!-- Plugin CSS -->
    <link href="css/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="css/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="css/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="css/plugins/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="css/plugins/jquery.fs.wallpaper.css" rel="stylesheet" type="text/css">


</head>