---
title: "moocit"

description: "Créez votre MOOC aujourd'hui sur notre plate-forme. MoocIT accompagne les entreprises, universités et associations dans la création et diffusion de cours en ligne ouverts à tous (MOOC)."

keywords: "mooc, moocs, cooc, coocs, corporate, entreprise, elearning, e learning,e-learning, plateforme, plate-forme, hébergement, saas, numérique, contenu, création, mooc agency, cours, ligne, ouvert, open, massive, online, course, contenu, pédagogique, animation, social, cours en ligne, massive open online courses, france, moocit, edx, marque blanche"
---

{{>navigation}}
{{>hero-header}}
{{>section-features}}
